@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.14 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.14 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.14 0 0);
    --primary: oklch(0.2 0 0);
    --primary-foreground: oklch(0.99 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.2 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.56 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.2 0 0);
    --destructive: oklch(0.58 0.24 28.48);
    --destructive-foreground: oklch(0.99 0 0);
    --border: oklch(0.92 0 0);
    --input: oklch(0.92 0 0);
    --ring: oklch(0.71 0 0);
    --radius: 0.625rem;
    --sidebar-background: oklch(0.99 0 0);
    --sidebar-foreground: oklch(0.14 0 0);
    --sidebar-primary: oklch(0.2 0 0);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.2 0 0);
    --sidebar-border: oklch(0.92 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: oklch(0.14 0 0);
    --foreground: oklch(0.99 0 0);
    --card: oklch(0.2 0 0);
    --card-foreground: oklch(0.99 0 0);
    --popover: oklch(0.2 0 0);
    --popover-foreground: oklch(0.99 0 0);
    --primary: oklch(0.92 0 0);
    --primary-foreground: oklch(0.2 0 0);
    --secondary: oklch(0.27 0 0);
    --secondary-foreground: oklch(0.99 0 0);
    --muted: oklch(0.27 0 0);
    --muted-foreground: oklch(0.71 0 0);
    --accent: oklch(0.27 0 0);
    --accent-foreground: oklch(0.99 0 0);
    --destructive: oklch(0.7 0.19 22.23);
    --destructive-foreground: oklch(0.99 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0 0);
    --sidebar-background: oklch(0.2 0 0);
    --sidebar-foreground: oklch(0.99 0 0);
    --sidebar-primary: oklch(0.49 0.24 264.4);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.27 0 0);
    --sidebar-accent-foreground: oklch(0.99 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
